pytimefliplib @ git+https://github.com/pierre-24/pytimefliplib.git
pyyaml
flake8
flake8-quotes
autopep8
flask
Flask-WTF
bootstrap-flask
Flask-SQLAlchemy
flask-login
is-safe-url
marshmallow-sqlalchemy
webargs