{% extends "base.in.html" %}
{% set active_menu = 'history' %}

{% block page_title %}History{% endblock %}

{% block content %}
    <h1>History</h1>

    <template id="tp-history">
    <tr data-controller="historyelm">
        <td><input type="checkbox" class="t-checkbox"></td>
        <td class="t-start" data-historyelm-target="start"></td>
        <td data-historyelm-target="modifyStart" hidden>
            <div class="input-group input-group-sm">
                <input type="date" class="form-control" data-historyelm-target="inputStartDate">
                <input type="time" class="form-control" data-historyelm-target="inputStartTime">
            </div>
        </td>
        <td class="t-dur" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-historyelm-target="duration"></td>
        <td data-historyelm-target="modifyEnd" hidden>
            <div class="input-group input-group-sm">
                <input type="date" class="form-control" data-historyelm-target="inputEndDate">
                <input type="time" class="form-control" data-historyelm-target="inputEndTime">
            </div>
        </td>
        <td class="t-facet"></td>
        <td data-historyelm-target="task">
            <span class="task-color" data-historyelm-target="taskColor"></span>
            <span class="t-task" data-historyelm-target="taskName"></span>
        </td>
        <td data-historyelm-target="modifyTask" hidden>
            <select data-historyelm-target="inputTask" class="form-control form-control-sm"></select>
        </td>
        <td class="t-comment" data-historyelm-target="comment"></td>
        <td data-historyelm-target="modifyComment" hidden>
            <input type="text" data-historyelm-target="inputComment" class="form-control form-control-sm">
        </td>
        <td>
            <div class="btn-group btn-group-sm" data-historyelm-target="btn">
                <button type="button" class="btn btn-primary" data-action="historyelm#edit"><i class="bi bi-pen"></i></button>
                <button type="button" class="btn btn-danger" data-action="historyelm#destroy"><i class="bi bi-x"></i></button>
            </div>
            <div class="btn-group btn-group-sm" data-historyelm-target="modifyBtn" hidden>
                <button type="button" class="btn btn-primary" data-action="historyelm#cancel"><i class="bi bi-x"></i></button>
                <button type="button" class="btn btn-primary" data-action="historyelm#update"><i class="bi bi-check"></i></button>
            </div>
        </td>
    </tr>
    </template>

    <div data-controller="history">

        <div id="bulkEditTaskModal" class="modal fade" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Bulk modify task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <select data-history-target="inputBulkTask" id="bulkTask" name="bulkTask" class="form-control"></select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary action">Submit</button>
              </div>
            </div>
          </div>
        </div>

        <div id="bulkEditCommentModal" class="modal fade" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Bulk modify comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <input data-history-target="inputBulkComment" class="form-control" placeholder="Your comment">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary action">Submit</button>
              </div>
            </div>
          </div>
        </div>

        <p class="btn-group btn-group">
            <select data-history-target="size" data-action="history#repaginate">
                <option value="10">10 per page</option>
                <option value="25">25 per page</option>
                <option value="50" selected>50 per page</option>
                <option value="100">100 per page</option>
            </select>
            <button class="btn btn-outline-primary" data-action="history#modifyTaskChecked"><i class="bi bi-hammer"></i> Task</button>
            <button class="btn btn-outline-primary" data-action="history#modifyCommentChecked"><i class="bi bi-chat-text"></i> Comment</button>
            <button class="btn btn-outline-primary" data-action="history#destroyChecked"><i class="bi bi-x"></i> Delete</button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" data-action="history#toogleAll"></th>
                    <th scope="col">Start</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Facet</th>
                    <th scope="col">Task</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody data-history-target="tbody"></tbody>
        </table>
        <ul class="pagination" data-history-target="pagination">
            <li class="page-item disabled" data-history-target="previous"><a class="page-link" href="#" data-action="history#paginate" data-history-shift-param="-1">Previous</a></li>
            <select class="form-control" style="width: 5rem; border-radius: 0; border-left: none" data-history-target="page" data-action="history#refresh">
                <option value="0">1</option>
            </select>
            <li class="page-item disabled" data-history-target="next"><a class="page-link" href="#" data-action="history#paginate" data-history-shift-param="1">Next</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="module">
    import {
        HistoryController,
        HistoryElmController
    } from "{{ url_for('static', filename='controllers.js') }}";

    Stimulus.register("history", HistoryController);
    Stimulus.register("historyelm", HistoryElmController);
    </script>
{% endblock %}