{% extends "base.in.html" %}
{% set active_menu = 'tasks' %}

{% block page_title %}Tasks{% endblock %}

{% block content %}
    <h1>Tasks</h1>

    <div class="row">
    {% for category_id in categories %}
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between"
                        data-controller="category"
                        data-action="dblclick->category#edit"
                        data-category-target="name"
                        data-category-id-value="{{ category_id }}">{{ categories[category_id].name }}</h5>

                    <p class="task-pills">
                        {%  if category_id in tasks_per_category %}
                            {% for task in tasks_per_category[category_id] %}
                                <span class="task-pill">
                                    <span class="task-color" style="background: {{ task.color }}"></span>
                                    {{ task.name }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="module">
    import { Application} from "https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.js";
    window.Stimulus = Application.start();

    import CategoryController from "{{ url_for('static', filename='controllers/category_controller.js') }}";
    Stimulus.register("category", CategoryController);
    </script>
{% endblock %}