{% extends "base.in.html" %}
{% set active_menu = 'tasks' %}

{% block page_title %}Tasks{% endblock %}

{% block content %}
    <h1>Tasks</h1>

    <template id="tp-category">
        <div class="col-sm-6">
            <div class="card mb-4">
                <div class="card-body" data-controller="category" data-action="dblclick->category#edit">
                        <h5 class="card-title d-flex justify-content-between">
                            <span class="category-label" data-category-target="label"></span>
                            <button type="button" class="destroy" data-category-target="destroy" data-action="category#destroy"><i class="bi bi-x"></i></button>
                        </h5>
                    <input type="text" data-category-target="input" hidden data-action="keyup->category#keyup" />
                </div>
                <ul class="list-group list-group-flush">
                </ul>
            </div>
        </div>
    </template>

    <template id="tp-task">
        <li class="list-group-item" data-controller="task" data-action="dblclick->task#edit">
            <span class="task-color" data-task-target="color"></span>
            <span class="task-label" data-task-target="label"></span>
            <button type="button" class="destroy" data-task-target="destroy" data-action="task#destroy"><i class="bi bi-x"></i></button>
            <div class="input-group">
                <input type="color" data-task-target="inputColor" hidden style="height: 2.5rem" />
                <input type="text" class="form-control" data-task-target="inputName" hidden data-action="change->task#update keyup->task#keyup" />
            </div>
        </li>
    </template>

    <div id="categories" data-controller="categories">

        <div class="row" data-categories-target="elms"></div>
        <p>
            <button class="btn btn-primary" data-categories-n-value="1" data-action="categories#newCategory">Add a new category</button>
        </p>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="module">
    import { Application } from "https://unpkg.com/@hotwired/stimulus@3.0.0/dist/stimulus.js";
    window.Stimulus = Application.start();

    import {
        CategoriesController,
        CategoryController,
        TaskController,
    } from "{{ url_for('static', filename='controllers.js') }}";

    Stimulus.register("categories", CategoriesController);
    Stimulus.register("category", CategoryController);
    Stimulus.register("task", TaskController);

    </script>
{% endblock %}