{% extends "base.in.html" %}

{% block page_title %}TimeFlip{% endblock %}

{% block content %}
    <h1>TimeFlip</h1>

    <template id="tp-facettotask">
        <tr data-controller="facettotask">
            <td class="t-facet"></td>
            <td data-facettotask-target="task" class="t-task"></td>
            <td data-facettotask-target="modify" hidden>
                <div class="input-group input-group-sm">
                    <select data-facettotask-target="inputTask" class="form-control"></select>
                    <button type="button" class="btn btn-primary" data-action="facettotask#cancel"><i class="bi bi-x"></i></button>
                    <button type="button" class="btn btn-primary" data-action="facettotask#update"><i class="bi bi-check"></i></button>
                </div>
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" data-action="facettotask#edit"><i class="bi bi-pen"></i></button>
                    <button type="button" class="btn btn-danger" data-action="facettotask#destroy"><i class="bi bi-x"></i></button>
                </div>
            </td>
        </tr>
    </template>

    <div data-controller="timeflipinfo" data-timeflipinfo-id-value="{{ timeflip_device.id }}">
        <div class="btn-group mb-4">
            <button class="btn btn-outline-primary" data-action="timeflipinfo#editInfo"><i class="bi bi-pen"></i> Edit TimeFlip</button>
            <button class="btn btn-outline-primary"><i class="bi bi-hammer"></i> Reset calibration</button>
            <button class="btn btn-outline-primary"><i class="bi bi-list-check"></i> Fetch history</button>
        </div>

        <div id="timeflipInfoModal" class="modal fade" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modify TimeFlip Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="mb-3">
                      <label for="name">Name</label>
                      <input class="form-control" type="text" id="name" name="name" data-timeflipinfo-target="inputName">
                  </div>
                  <div class="mb-3">
                      <label for="password">Password</label>
                      <input class="form-control" type="text" id="password" name="password" data-timeflipinfo-target="inputPassword">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary action" data-action="timeflipinfo#submitInfo" data-bs-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Facet</th>
                    <th scope="col">Task</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody data-timeflipinfo-target="tbody">
            <tr data-timeflipinfo-target="append" hidden>
                <td id="facet"><select  class="form-control" data-timeflipinfo-target="inputFacet"></select></td>
                <td id="task"><select  class="form-control" data-timeflipinfo-target="inputTask"></select></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" data-action="timeflipinfo#cancel"><i class="bi bi-x"></i></button>
                        <button type="button" class="btn btn-primary" data-action="timeflipinfo#submitFTT"><i class="bi bi-check"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <button class="btn btn-primary" data-action="timeflipinfo#createFTT"><i class="bi bi-plus"></i> Add a new correspondence</button>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="module">
    import {
        TimeflipInfoController,
        FacetToTaskController
    } from "{{ url_for('static', filename='controllers.js') }}";

    Stimulus.register("timeflipinfo", TimeflipInfoController);
    Stimulus.register("facettotask", FacetToTaskController);

    </script>
{% endblock %}