{% extends "base.in.html" %}

{% block page_title %}TimeFlip{% endblock %}

{% block content %}
    <h1>Add a new TimeFlip device</h1>

    <div data-controller="tfadd" data-action="tfadd:addTF->tfconnect#listTF">

    <form method="post">
        <div class="input-group">
            <input type="text" class="form-control" id="address" name="address" placeholder="Device's MAC address" required data-tfadd-target="address">
            <input type="password" class="form-control" id="password" name="password" required placeholder="Device's password" data-tfadd-target="password">
            <button class="btn btn-outline-primary" type="button" data-action="tfadd#addTF">Submit</button>
        </div>
    </form>

    <div data-tfadd-target="list" class="mt-4">
        Wait while listing available devices... This can take up to one minute!
    </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="module">
    import {
        TFAddController
    } from "{{ url_for('static', filename='controllers.js') }}";

    Stimulus.register("tfadd", TFAddController);

    </script>
{% endblock %}