main {
    margin: 32px 0;
}

footer  {
    text-align: center;
    color: #777;
    font-size: 90%;
    margin-top: 32px;
}

.category-controller .controller-btn,
.task-controller .controller-btn {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    display: none;
}

.category-controller:hover .controller-btn,
.task-controller:hover .controller-btn {
    display: inline-block;
}

.task-color {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    margin-right: 8px;
    border-radius: 1rem;
}

.graph-cumulative .element {
    height: 16px;
}

.graph-cumulative .element:first-child {
    border-radius: 16px 0  0 16px;
}

.graph-cumulative .element:last-child {
    border-radius: 0 16px 16px 0;
}