main {
    margin: 32px 0;
}

footer  {
    text-align: center;
    color: #777;
    font-size: 90%;
    margin-top: 32px;
}


.ins {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    padding: 8px;
    border-radius: 8px;
}