main {
    margin: 32px 0;
}

footer  {
    text-align: center;
    color: #777;
    font-size: 90%;
    margin-top: 32px;
}

a.category-dropdown {
    display: inline-block;
    background: #eee;
    padding: 2px 6px;
    border-radius: 16px;
    color: black;
    border: 1px solid #ccc;
}

a:hover.category-dropdown {
    text-decoration: none;
}

.task-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
}

.task-pill {
    display: inline-block;
    padding: 4px 12px;
    background: #eee;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
}

a.task-pill {
    text-decoration: none;
}