{% from 'bootstrap/utils.html' import render_messages %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{% block page_title %}{% endblock %} &bullet; {{ app_name }}</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

    {{ bootstrap.load_css() }}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>

<nav class="navbar sticky-top navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand"
       href="{% if current_user.is_authenticated %}{{ url_for('user.graphs') }}{% else %}{{ url_for('visitor.login') }}{% endif %}"
       title="{{ app_name }}">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="{{ app_name }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-items" aria-controls="nav-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

{%  if current_user.is_authenticated %}
    <div class="collapse navbar-collapse" id="nav-items">
        <ul class="navbar-nav">
            <li class="nav-item {% if active_menu == 'graphs' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('user.graphs') }}">Graphs</a>
            </li>
            <li class="nav-item {% if active_menu == 'tasks' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('user.tasks') }}">Tasks</a>
            </li>
            <li class="nav-item {% if active_menu == 'timeflip' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('user.timeflip') }}">TimeFlip</a>
            </li>
            <li class="nav-item {% if active_menu == 'history' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('user.history') }}">History</a>
            </li>
            <li class="nav-item {% if active_menu == 'reports' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('user.reports') }}">Reports</a>
            </li>
        </ul>
    </div>

    <div class="ml-auto" id="nav-status">
        <a href="{{ url_for('visitor.logout') }}">Logout</a>
    </div>
{% endif %}
</nav>

<div class="container mt-2" id="messages-zone">
{{ render_messages() }}
</div>

<main role="main" id="content" class="container">
    {% block content %}{% endblock %}
</main>

<footer class="container">
    {{ app_name }},
    created by <a href="{{ app_author_url }}">{{ app_author }}</a>  (version: <a href="{{ app_repo_url }}">{{ app_version }}</a>)
</footer>

</body>


{% block scripts %}
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

</html>