{% macro create_modal(id, title, content, bottom='', action='', multipart=False, method='post') %}
  <div id="{{ id }}" class="modal fade" role="dialog">
        <form class="modal-dialog" method="{{ method }}" {% if action %}action="{{ action }}"{% endif %} {% if multipart %}enctype="multipart/form-data"{% endif %}>
        <div class="modal-content">
            <div class="modal-header">
                <h5>{{ title|safe }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            {{ content|safe }}
            </div>
            {%  if bottom != '' %}
            <p class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ bottom|safe }}
            </p>
            {% endif %}
        </div>
        </form>
    </div>
{% endmacro %}
{%  macro create_delete_modal(id, title, action='', method='post') %}
    {% set modal_content %}
        <input type="hidden" name="{{ id }}_id" id="{{ id }}_id" value="">
        <div id="{{ id }}_placeholder"></div>
    {% endset %}
    {{ create_modal(
            id,
            title,
            modal_content,
            '<button type="submit" class="btn btn-danger">Delete</button>',
            action=action,
            method=method
    ) }}
{% endmacro %}