{% extends "base.in.html" %}
{% from 'bootstrap/form.html' import render_form_row, render_field %}

{% block page_title %}Add a new device{% endblock %}

{% block content %}
    <h1>Add a new device</h1>
    <div class="container ins mb-2" id="search-results">
    Listing available devices, please wait ...
    </div>
    <form action="{{ url_for('visitor.add-device') }}" method="post" class="ins">
        {{ form.hidden_tag() }}
        {{ render_form_row([form.address, form.name]) }}
        {{ render_form_row([form.password, form.password_repeat]) }}
        {{ render_field(form.submit) }}
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script lang="text/javascript">
        "use strict";

        function set_inputs(address, name) {
            document.getElementById('address').value = address;
            document.getElementById('name').value = name;
        }

        window.addEventListener('load', function () {
            fetch("{{ url_for('api.discover') }}")
                .then(response => {
                    if(!response.ok) {
                        throw new Error('response was not ok (status=' + response.status + ')');
                    } else {
                        return response.json();
                    }
                })
                .then(response => {
                    let $results = document.getElementById('search-results');
                    $results.textContent = '';

                    if (response.discovered.length > 0) {
                        response.discovered.forEach(e => {
                            let $button = document.createElement('button');
                            $button.type = 'button';

                            $button.textContent = e.address + ' (' + e.name + ')';
                            if (!e.pairable)
                                $button.textContent += ' already added';

                            $button.disabled = !e.pairable;
                            $button.classList.add('btn', 'btn-secondary');
                            $button.addEventListener('click', () => set_inputs(e.address, e.name));

                            $results.appendChild($button);
                        });
                    } else {
                        $results.textContent = 'No device found :(';
                    }
                }).catch(error => {
                    document.getElementById('search-results').textContent = 'An error happened:' + error;
            });
        });
    </script>
{% endblock %}