{% extends "base.in.html" %}
{% from 'bootstrap/form.html' import render_form_row, render_field %}

{% block page_title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>
    <form action="{{ url_for('visitor.login') }}" method="post" class="ins">
        {{ form.csrf_token }}
        {{ form.next(value=next) }}
        {{ render_form_row([form.address, form.password]) }}

    <p class="mt-2"> {{ form.login_button(class_='btn btn-primary mr-2') }}... Or <a href="{{ url_for('visitor.add-device') }}">add a new device</a>.</p>
    </form>
{% endblock %}